@import '../../../styles/variables.scss';

.notifications-table{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 97%;

    td, th{
        border-bottom: 1px solid #ddd;
        padding: 8px;
        color: $darkgrey;
    }

    td{
        background-color: white;

        .notification-info-btn{
            background: none;
            color: $darkgrey;
            font-size: 24px;

            &:hover{
                color: $blue;
            }
        }

        .delete-notification-btn{
            background: none;
            color: $darkgrey;
            font-size: 24px;

            &:hover{
                color: red;
            }
        }
    }

    th{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: white;
    }

    .content-col{
        width: 40%;
    }
}