@import "../../styles/variables.scss";

/***** PAGE TITLE *****/

h1{
    @include page-title;
}

/***** BODY LAYOUT *****/

.profile-body{
    display: flex;
}

.left{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right{
    display: flex;
    flex-direction: column;
    width: 60%;
}

/***** CHANGE PHOTO *****/

.change-photo{
    @include edit-profile-box(90%);
    height: 40%;
    margin-left: 20px;
    align-items: center;
    justify-content:center;

    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
}

/***** MY WORKSHOPS *****/

.edit-myWorkshops{
    @include edit-profile-box(90%);
    height: 30%;
    margin: 20px 0 0 20px;
    align-items: center;
}

.edit-myWorkshops-title{
    @include edit-profile-title;
}

/***** USER SETTINGS *****/

.user-settings{
    @include edit-profile-box(97%);
    margin-bottom: 20px;
}

.user-settings-title{
    @include edit-profile-title;
}

.user-settings-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input
    }
}

.password-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input
    }
}

.username-email,
.name,
.password{
    display: flex;
}

/***** CONTACT SETTINGS *****/

.contact-settings{
    @include edit-profile-box(97%);
    margin-bottom: 20px;
}

.contact-settings-title{
    @include edit-profile-title;
}

.contact-settings-form{
    @include edit-profile-form;

    label{
        @include edit-profile-label;
    }

    input{
        @include edit-profile-input
    }

    select{
        @include edit-profile-select
    }
}

.country-company,
.position-role{
    display: flex;
}

/***** FORM LABLEL/INPUT LAYOUT *****/

.label-input{
    display: flex;
    flex-direction: column;
    width: 90%;
}

/***** BUTTONS *****/

button{
    @include button;
}