@import '../../styles/variables.scss';

.all-workshops-header{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 2.5%;

    h1{
        margin-left: 0;
    }

    .new-workshop-btn{
        @include button(40px, $darkgrey);
        margin-top: 0;
    
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.all-workshops-body{
    width: 95%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
}

.workshop-filters{
    display: flex;
    justify-content: space-between;
}

.filter-select{
    display: flex;
    align-items: center;

    select{
        @include edit-profile-select(25px, fit-content);
        color: $darkgrey;
        margin-right: 15px;
    }

    label{
        font-family: roboto;
        font-size: 16px;
        color: $darkgrey;
    }
}