@import '../../styles/variables.scss';


.new-notifications-header{
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 2.5%;

    h1{
        margin-left: 0;
    }

    .all-notifications-btn{
        @include button(40px, $darkgrey);
        margin-right: 20px;
        margin-top: 0;

        a{
            text-decoration: none;
            color: white;
        }
    }

    .confirm-all-btn{
        @include button(40px, $blue);
        margin-top: 0;
    }
}

.new-notification-form{
    background-color: white;
    border-radius: 5px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
}

.new-notification-form-header{
    width: 100%;
    height: 50px;
    background-color: $grey;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    border-bottom: 1px solid $darkgrey;
    border-radius: 5px 5px 0 0;
    font-family: roboto;
    font-weight: 450;
    font-size: 16px;
    color: $blue;

    input{
        box-sizing: border-box;
        width: fit-content;
        margin: 10px 0;
        height: 25px;
        outline: none;
        padding-left: 5px;
        border: 2px solid $grey;
        border-radius: 5px;
        color: $darkgrey;
    }
}  

.new-notification-form-body{
    display: flex;
    flex-direction: column;

    input{
        box-sizing: border-box;
        width: 70%;
        margin: 20px auto;
        height: 25px;
        outline: none;
        padding-left: 5px;
        border: 2px solid $grey;
        border-radius: 5px;
        color: $darkgrey;
    }

    select{
        box-sizing: border-box;
        align-self: flex-start;
        width: 70%;
        height: 25px;
        margin: 20px auto;
        outline: none;
        border: 2px solid $grey;
        border-radius: 5px;
        color: $darkgrey;
    }
}


.new-notification-form-footer{
    background-color: $grey;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $darkgrey ;
    border-radius: 0 0 5px 5px;

    button{
        @include button(30px,$blue);
        margin-top:0;
    }
}


.temp-notification-info{
    background-color: white;
    border-radius: 5px;
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
}



.temp-notification-info-header{
    width: 100%;
    height: 50px;
    background-color: $grey;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    border-bottom: 1px solid $darkgrey;
    border-radius: 5px 5px 0 0;
    font-family: roboto;
    font-weight: 450;
    font-size: 16px;
    color: $blue;

    button{
        margin-right: 10px;
    }
}

.temp-notification-info-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    div{
        margin: 20px 10px;
        font-family: roboto;
        color: $darkgrey;

        span{
            font-weight: 500;
        }
    }
}


.temp-notification-info-footer{
    background-color: $grey;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $darkgrey ;
    border-radius: 0 0 5px 5px;

    button{
        @include button(30px,$blue);
        margin-top:0;
    }
}