/****** COLORS ******/

$blue : #3B65B0;
$grey: #8e8e8e;

/****** MIXINS ******/

@mixin input {
  height: 30px;
  margin: 5px 0;
  outline: none;
  padding: 5px 15px;
  border: 1px solid $grey;
  border-radius: 20px;
}