@import '../../styles/variables.scss';

.myWorkshops-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 2.5% 10px 2.5%;

    .myWorkshops-header-left{
        display: flex;
        align-items: center;

        h1{
            margin-left: 0;
        }
    
        .myWorkshops-month-btn{
            @include button(40px, $darkgrey);
            margin: 0 10px 0 0;
        }
    
        .active{
            background-color: $blue;
        }
    }

    .myWorkshops-limit-warning{
        background-color: $grey;
        padding: 10px;
        margin:0;
        box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
        color: $darkgrey;
        font-family: roboto;
        font-weight: 450;
        justify-self: flex-end;
    }

    .myWorkshops-limit-warning-reached{
        background-color: $grey;
        padding: 10px;
        margin:0;
        box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
        color: red;
        font-family: roboto;
        font-weight: 450;
        justify-self: flex-end;
    }
}

.myWorkshops-list{
    width: 95%;
    margin: 20px auto 40px auto;
    background-color: white;
    box-shadow: 0 0 20px  rgba(53, 53, 53, .2);
}

.myWorkshop-details-header{
    width: 100%;
    height: 50px;
    background-color: $grey;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    border-radius: 5px 5px 0 0;
    font-family: roboto;
    font-weight: 450;
    font-size: 16px;
    color: $blue;

    .myWorkshop-details-date{
        display: flex;
        align-items: center;
    }
}

.myWorkshop-basic-info{
    width: 100%;
    height:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid $darkgrey;
}

.myWorkshop-basic-info-left-enrolled{
    width: 50%;
    padding: 10px;
    padding: 10px 10px 10px 40px;
    height: 100%;
    box-sizing: border-box;
    background-color: #65BB8D;
    border-right: 1px solid $darkgrey;
    transition: all .3s ease-in-out;
}

.myWorkshop-basic-info-left{
    width: 50%;
    padding: 10px;
    padding: 10px 10px 10px 40px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid $darkgrey;
    transition: all .3s ease-in-out;
}

.myWorkshop-details-title{
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    color: $darkgrey;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

.myWorkshop-details-title-enroled{
    font-family: roboto;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-top: 16px;
    transition: all .3s ease-in-out;

}

.myWorkshop-details-speaker{
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    color: $darkgrey;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

.myWorkshop-details-speaker-enroled{
    font-family: roboto;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

.myWorkshop-details-description{
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: $darkgrey;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

.myWorkshop-details-description-enroled{
    font-family: roboto;
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-top: 16px;
    transition: all .3s ease-in-out;
}

.myWorkshop-basic-info-right{
    width: 50%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 10px 40px 10px 10px;
    height: 100%;
    box-sizing: border-box;

    button{
        width: fit-content;
        margin-top: 10px;
    }
}

.myWorkshops-room-capacity{
    display: flex;
    flex-direction: column;
    width: 80%;


    .myWorkshops-room-capacity-info{
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .myWorkshops-room-capacity-title{
            font-family: roboto;
            font-weight: 400;
            font-size: 18px;
            color: $darkgrey;
        }

        .myWorkshops-room-capacity-percentage{
            font-family: roboto;
            font-weight: 400;
            font-size: 16px;
            color: $darkgrey;
        }
    }
}

.progress-bar{
    background-color: $grey;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}

.progress-bar-fill{
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: greenyellow;
    transition: all .3s ease-in-out;
}

.status-open{
    margin:10px 0;
    font-size: 18px;
    font-family: roboto;
    color: #65BB8D;
}

.status-closed{
    margin:10px 0;
    font-size: 18px;
    font-family: roboto;
    color: red;
}

.myWorkshop-handle-enrolled{
    background-color: $blue;
    transition: all .1s ease-in-out;


}

.myWorkshop-handle-enrolled-disabled{
    background-color: $darkgrey;
    transition: all .1s ease-in-out;
    cursor: default;
}

.myWorkshop-handle-not-enrolled{
    background-color: red;
    transition: all .1s ease-in-out;

}